<div class="row">
	<div class="twelve columns">
		<h1>Tiptop web development, design, &amp;c.</h1>
		<p>
			Goluptious is a marvelously fun word to speak, it is also the name that I &mdash; Z J Rollyson &mdash; do do business with.  As a word it synonymous with splendid; it is good, it is <em>tiptop</em>.  As a business I intend it to mean just the same.
		</p>	
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<h2>What I Can Do For You</h2>
		<ul class="block-grid three-up mobile-one-up">	
			<li>
				<h3>Development</h3>
				<p>
					I am a skilled front-end developer &mdash; well versed in modern technologies &mdash; with a special fondness for Sass-y git repos &amp; pages that still fit together whilst resizing the browser window.
					<hr>
					Dabble on the server side, I do... whether I be fiddling with a trusty LAMP stack (or a rather unstable one due to a mild case of the distro-hopping), making cake of PHP, carting rubies along on rails, or serenading pythons to the magic of gypsy jazz, I have some good fun.
				</p>
			</li>
			<li>
				<h3>Design</h3>
				<p>
					In the browser or in an Adobe project, with pencil or pen, I love design.
					<hr>
					I sincerely believe in the importance of design in all things we interact with, that one's designs ought to be a product of a passion for the craft and a reflection and extension of oneself.
				</p>
			</li>	
			<li>
				<h3>IT Services</h3>
				<p>
					Here to help local folks in need, I can offer my assistance in the general setup/installation/replacement/maintenance/repair of desktop &amp; laptop computers, mobile phones, tablets, printers, WiFi/networking devices, software, hardware &amp;c.
					<hr>
					Additionally I can help educate in the use of the aforementioned or get rid of that nasty bug your machine's seem to have caught.
				</p>
			</li>	
		</ul>
	</div>
