<div id="m-nav">
	<input type="radio" name="radio-set" id="ms-control-1" checked="checked">
	<label for="ms-control-1" class="logo">
		<img src="assets/gLogo100.png" alt="Home">
	</label>
	<span class="menu">Menu</span>
	<div class="sub-nav">
		<div class="sub-nav-container">
			<input type="radio" name="radio-set" id="ms-control-2">
			<label for="ms-control-2">About</label>

			<input type="radio" name="radio-set" id="ms-control-3">
			<label for="ms-control-3">Services</label>

			<input type="radio" name="radio-set" id="ms-control-4">
			<label for="ms-control-4">Contact</label>

			<input type="radio" name="radio-set" id="ms-control-5">
			<label for="ms-control-5">Work</label>
		</div>
	</div>
</div>
<div class="ms-container">
	<div id="ms-scroll">
		<section class="ms-panel row" id="ms-panel-1">
			<div class="bigOleBack"></div>
			<div id="gText" class="noverflow container">
				<h1 id="tip" class="abril">Tip&mdash;Top</h1>
				<h2 id="d+d" class="abril">design &amp; development</h2>
			</div>
		</section>
		<section class="ms-panel row container" id="ms-panel-2">
			<div class="threecol tester"></div>
			<div class="threecol tester"></div>
			<div class="threecol tester"></div>
			<div class="threecol tester"></div>
		</section>
		<section class="ms-panel row container" id="ms-panel-3">
			<div class="fourcol tester"></div>
			<div class="fourcol tester"></div>
			<div class="fourcol tester"></div>
		</section>
		<section class="ms-panel row container" id="ms-panel-4">
			<div class="sixcol tester"></div>
			<div class="sixcol tester"></div>
		</section>
		<section class="ms-panel row container" id="ms-panel-5">
			<div class="twelvecol tester"></div>
		</section>
	</div>
</div>