#m-nav
	%a.logo.nav-item{:href => '/'}
		%img{:src => 'assets/gLogo100.png', :alt => 'Home'}
	%span.menu Menu
	.sub-nav
		.sub-nav-container
			%a.nav-item{:href => '/about'} About
			%a.nav-item{:href => '/services'} Services
			%a.nav-item{:href => '/contact'} Contact
			%a.nav-item{:href => '/work'} Work
.ms-container
	#ms-scroll
		%section#home{:class => 'ms-panel row'}
			#gText.noverflow.container
				%h1#tip.abril Tip&mdash;Top
				%h2.abril{:id => 'd+d'} design &amp; development
		%section#about.ms-panel.row.container
			.fourcol.block.center
				%h2.block-header About
				%p.block-text.first
					Goluptious is a marvelously fun word to speak. As a word it is synonymous with splendid; it is good, it is <em>tiptop</em>. &nbsp; As a business I intend it to mean just the same.
		%section#services.ms-panel.row.container
			.sixcol.block
				%h2.block-header Design
				%p.block-text.first
					In the browser or in an Adobe project, with pencil or pen, I love web design.
				%p.block-text
					I sincerely believe in the importance of design in all things we interact with, that one's designs ought to be a product of a passion for the craft and a reflection and extension of oneself.
			.sixcol.block
				%h2.block-header Development
				%p.block-text.first
					I am a skilled front-end developer &mdash; well versed in modern technologies &mdash; with a special fondness for Sass-y git repos &amp; pages that still fit together whilst resizing the browser window.
				%p.block-text
					Dabble on the server side, I do... whether I be fiddling with a trusty LAMP stack (or a rather unstable one due to a mild case of the distro-hopping), making cake of PHP, carting rubies along on rails, or serenading pythons to the magic of gypsy jazz, I have some good fun.
		%section#contact.ms-panel.row.container
			.sixcol.block
				#GMap{:style => 'width: 100%; height: 100%'}
			.sixcol.block
				%h2.block-header Contact
				%form.contact-form.container
					.sixcol 
						%input{:type => 'text', 
									 :name => 'name',
									 :placeholder => 'Name'}
					.sixcol 
						%input{:type => 'email',
									 :name => 'email',
									 :placeholder => 'Email'}
					.sixcol 
						%input{:type => 'text',
						 			 :name => 'company',
						 			 :placeholder => 'Company'}
					.sixcol 
						%input{:type => 'tel',
									 :name => 'phone',
									 :placeholder => 'Contact Number'}
					.twelvecol 
						%textarea{:name => 'message',
											:placeholder => 'Message'}
					.twelvecol 
						%button.submit{:type => 'submit'} Submit
		%section#work.ms-panel.row.container
			.twelvecol.block
				%h2.block-header Work
				%h3.coming-soon Coming soon!
				%p
					%a{:href => "/contact"} Contact me
					for work samples.
#plx-container
	%canvas
	%img#bg{:src => 'assets/gZ.jpg'}
