<div class="ms-container container">
<!-- 	<input type="radio" name="radio-set" id="ms-control-1">
	<a href="#ms-panel-1">About</a>
	<input type="radio" name="radio-set" id="ms-control-2">
	<a href="#ms-panel-2">Services</a>
	<input type="radio" name="radio-set" checked="checked" id="ms-control-3">
	<a href="#ms-panel-3"><img src="assets/gLogo100.png" alt="Home"></a>
	<input type="radio" name="radio-set" id="ms-control-4">
	<a href="#ms-panel-4">Work</a>
	<input type="radio" name="radio-set" id="ms-control-5">
	<a href="#ms-panel-5">Contact</a> -->
	<div class="ms-scroll">
		<section class="ms-panel row" id="ms-panel-1">
			<div class="ms-deco" data-icon="H"></div>
			<h2 class="abril">Goluptious</h2>
			<h2 style="font-size: 88px">design & development</h2>
			<p>One is the loneliest number that you'll ever do.</p>
		</section>
		<section class="ms-panel row" id="ms-panel-2">
			<div class="ms-deco" data-icon="H"></div>
			<h2>Cats & Dogs</h2>
			<h2>can live in peace.</h2>
			<p>Two is just as bad as one, it's the loneliest number since the number one.</p>
		</section>
		<section class="ms-panel row" id="ms-panel-3">
			<div class="ms-deco" data-icon="H"></div>
			<h2>Three</h2>
			<p>I am a wall.</p>
		</section>
		<section class="ms-panel row" id="ms-panel-4">
			<div class="ms-deco" data-icon="H"></div>
			<h2>Four</h2>
			<p>Killa bees gonna swarm, gonna swarm.</p>
		</section>
		<section class="ms-panel row" id="ms-panel-5">
			<div class="ms-deco" data-icon="H"></div>
			<h2>Five</h2>
			<p>I don't know what to write for five.</p>
		</section>
	</div>
</div>