<div id="m-nav">
	<a href="/" class="logo nav-item">
		<img src="assets/gLogo100.png" alt="Home">
	</a>
	<span class="menu">Menu</span>
	<div class="sub-nav">
		<div class="sub-nav-container">
			<a class="nav-item" href="/about">About</a>
			<a class="nav-item" href="/services">Services</a>
			<a class="nav-item" href="/contact">Contact</a>
			<a class="nav-item" href="/work">Work</a>
		</div>
	</div>
</div>
<div class="ms-container">
	<div id="ms-scroll">
		<section class="ms-panel row" id="home">
			<div id="gText" class="noverflow container">
				<h1 id="tip" class="abril">Tip&mdash;Top</h1>
				<h2 id="d+d" class="abril">design &amp; development</h2>
			</div>
		</section>
		<section class="ms-panel row container" id="about">
			<div class="threecol tester"></div>
			<div class="threecol tester"></div>
			<div class="threecol tester"></div>
			<div class="threecol tester"></div>
		</section>
		<section class="ms-panel row container" id="services">
			<div class="fourcol tester"></div>
			<div class="fourcol tester"></div>
			<div class="fourcol tester"></div>
		</section>
		<section class="ms-panel row container" id="contact">
			<div class="sixcol tester"></div>
			<div class="sixcol tester"></div>
		</section>
		<section class="ms-panel row container" id="work">
			<div class="twelvecol tester"></div>
		</section>
	</div>
</div>
<div id="plx-container">
	<canvas></canvas>
	<img id="bg" src="assets/gZ.jpg">
</div>