<div class="st-container">
	<input type="radio" name="radio-set" id="st-control-1">
	<a href="#st-panel-1">About</a>
	<input type="radio" name="radio-set" id="st-control-2">
	<a href="#st-panel-2">Services</a>
	<input type="radio" name="radio-set" checked="checked" id="st-control-3">
	<a href="#st-panel-3"><img src="assets/gLogo100.png" alt="Home"></a>
	<input type="radio" name="radio-set" id="st-control-4">
	<a href="#st-panel-4">Work</a>
	<input type="radio" name="radio-set" id="st-control-5">
	<a href="#st-panel-5">Contact</a>
	<div class="st-scroll">
		<section class="st-panel" id="st-panel-1">
			<div class="st-deco" data-icon="H"></div>
			<h2>Goluptious</h2>
			<h2 style="font-size: 88px">design & development</h2>
			<p>One is the loneliest number that you'll ever do.</p>
		</section>
		<section class="st-panel" id="st-panel-2">
			<div class="st-deco" data-icon="H"></div>
			<h2>Cats & Dogs</h2>
			<h2>can live in peace.</h2>
			<p>Two is just as bad as one, it's the loneliest number since the number one.</p>
		</section>
		<section class="st-panel" id="st-panel-3">
			<div class="st-deco" data-icon="H"></div>
			<h2>Three</h2>
			<p>I am a wall.</p>
		</section>
		<section class="st-panel" id="st-panel-4">
			<div class="st-deco" data-icon="H"></div>
			<h2>Four</h2>
			<p>Killa bees gonna swarm, gonna swarm.</p>
		</section>
		<section class="st-panel" id="st-panel-5">
			<div class="st-deco" data-icon="H"></div>
			<h2>Five</h2>
			<p>I don't know what to write for five.</p>
		</section>
	</div>
</div>