<h1>Listing messages</h1>

<table id="messages-table">
  <tr>
    <th>From</th>
    <th>Email</th>
    <th>Company</th>
    <th>Phone</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Message</a>