/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 *= require html5-bp-main
 *= //require_tree ../../../vendor/assets/stylesheets/1140gs
 *= require gol-grid
 *= require_tree .
 */
 
@import 'http://fonts.googleapis.com/css?family=Abril+Fatface|Lato:700,900'

.abril
	font-family: "Abril Fatface", sans-serif
	font-weight: 400


body
	// overflow: hidden

#m-nav
	background: #222
	position: fixed
	z-index: 500
	height: 6em
	width: 100%
	top: 0

	& > input,
	& > a	
		height: 5em
		width: 3.125em
	& > input
		left: 50%
		margin-left: -1.5625em
	& > a
		display: block
		margin: 0 auto
	
	.logo	img
		padding: 1.2815000000000001em 0
		width: 3.125em
		height: 3.4375em
		opacity: 0.8
		transition: all 0.25s ease-in-out
		&:hover
			opacity: 1

	& input
		position: absolute
		opacity: 0
	
	span.menu
		position: absolute
		width: 3.125em
		left: 50%
		margin-left: -1.5625em
		padding-top: 0.625em
		height: 2.5em
		line-height: 2.5em
		&:hover
			width: 100%
			margin: 0
			opacity: 0
			left: 0
			transition: all 50s ease-in-out
			& + .sub-nav			
				height: 2.5em
				opacity: 1


	.sub-nav
		padding-top: 0.625em
		overflow-y: hidden
		background: #222
		transition: all 0.2s ease-in-out
		height: 0
		opacity: 0
		&:hover
			height: 2.5em
			opacity: 1
		.sub-nav-container
			width: 18.75em
			margin: 0 auto
			position: relative

			& > input,
			& > a
				display: block
				width: 25%
				height: 2.5em

			& > input
				opacity: 0
				cursor: pointer
				&:nth-child(1)
					left: 0%
				&:nth-child(3)
					left: 25%
				&:nth-child(5)
					left: 50%
				&:nth-child(7)
					left: 75%

			& > a
				float: left
				line-height: 2.5em
				text-align: center


.ms-container
	box-sizing: border-box
	position: absolute
	overflow: hidden
	height: 100%
	width: 100%
	top: 0
	left: 0

#ms-scroll,
.ms-panel
	position: relative
	width: 100%
	height: 100%

.ms-panel
	background: transparent
	overflow: hidden
	padding-top: 8.675em
	box-sizing: border-box

#ms-scroll
	top: 0
	left: 0
	transition: all 0.6s ease-in-out
	transform: translate3d(0, 0, 0)
	backface-visibility: hidden
	&.pos1 // Home
		transform: translateY(0%)
	&.pos2
		transform: translateY(-100%)
	&.pos3
		transform: translateY(-200%)
	&.pos4
		transform: translateY(-300%)
	&.pos5
		transform: translateY(-400%)
// Positioning fallback for sans-transform
.no-csstransitions #ms-scroll	
	&.pos1 // Home
		top: 0
	&.pos2
		top: -100%
	&.pos3
		top: -200%
	&.pos4
		top: -300%
	&.pos5
		top: -400%

.tester
	background: #ff000
	background-clip: content-box
	height: 7.5em
	margin-bottom: 1.5em